@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/** Styling for mobile first **/






/** Module style for container **/
.Wrapper{
    display: block;
    width:100%;
    height: 100%;
}


/**homepage*/
.Container{
 display: flex;
 flex-direction: row;
 background:white;


 /* background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(173,203,235,1) 40%); */


}

.Title{
    margin: 100px 0;
    justify-content: center;
    align-items: center;
   

}

.Text{
    font-family:Poppins;  
    font-size: 18px;
    color:#1a1a1a;
    text-align: left;
    margin:0 50px 0 100px;
    line-height: 30px;
}

.Header{
    font-family:Poppins;  
    font-size: 96px;
    color:rgb(45, 34, 65);
    margin: 0 100px;
}

.MapStyle{
  z-index:0
    
}



@media screen and (max-width:480px) {


.Container{
display: flex;
 flex-direction: column;
 background:white;

}

.Header{
    font-family:Poppins;  
    font-size: 20px;
    color:rgb(45, 34, 65);
    margin: 40px
}

.Wrapper{
    display: flex;
    overflow: auto;

}


.Title{
    margin: 0;
    justify-content: center;
    align-items: center;
}


.Text{
    font-family:Poppins;  
    font-size: 16px;
    color:#1a1a1a;
    text-align: left;
    margin:40px;
    line-height: 24px;
}

}