html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


/* 
.mapboxgl-canvas{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
} */

.leaflet-container {
    height: 456px;
    width: 50%;
}

.pure-modal .panel-footer {
    padding: 0 !important;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-popup-tip {
    background: #000 !important;
}

.leaflet-popup-content-wrapper {
    background: #000 !important;
    color: #fff !important;
}